.listContainer {
  height: inherit;
}

.time {
  width: 88% !important;
  display: initial !important;
}

.detailsIcon {
  margin-right: 1%;
  margin-left: 2%;
}

.overlay {
  z-index: 100;
  height: 0%;
  top: 100%;
  background-color: white;
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .8s linear;
}

.overlay.show  {
  visibility: visible;
  opacity: 1;
  height: 70%;
  transition: all .4s linear;
  top: 30%;
}

.eventTitle {
  text-align: center;
  border-top: 1px solid;
 transition:  ease-in-out .5s;
  border-bottom: 1px solid;
}

.updatePost {
 transition:  ease-in-out .5s;
 padding: .15rem;
}

.updatePost:hover{
  color: black;
}