.fc,
.fc-media-screen,
.fc-direction-ltr,
.fc-theme-standard {
  padding: 3%;
}

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
  color: black;
  text-decoration: none;
}

.fc-daygrid-day-frame:hover .fc-scrollgrid-sync-inner:hover {
  background-color: black;
}
