.fc,
.fc-media-screen,
.fc-direction-ltr,
.fc-theme-standard {
  padding: 3%;
}

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
  color: black;
  text-decoration: nonen;
}

.fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
  background-color: black;
}
