
.listNoDots {
  list-style-type: none;
}

.taskListItem {
  padding: .5rem;
  cursor: pointer;
 transition:  ease-in-out .5s;
}

.taskListItem:hover {
  color: black;

}

.minimise {
  /* padding-left: 4rem; */
  position: absolute;
  right: 0;
  margin-right: 1rem;
  cursor:pointer;
 transition:  ease-in-out .5s;
 padding: .15rem;
}

.minimise:hover {
  padding: 0;
}

.eventHead {
  text-shadow: none;
}

.scheduleHeader {
  border-bottom: .5px solid;
  border-color: #e1a95f;
  display: block;
}

.addEventTitle {
  width: 70%;
  margin: auto;
  margin-left: 10px;
  border: none;
}

.addEventTitle:focus {
  border: none;
}

.eventDateTitle {
  width: 25%;
  margin: auto;
  border: none;
}