.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 5px;
  right: -5px;
  padding: 3px 7px;
  border-radius: 50%;
  background: #0891d06e;
  color: white;
}

a.dropdown:last-child .dropdown-menu {
  right: 0;
  left: auto;
}
