.eventList {
  margin-top: 3%;
  background-color: white;
  border-radius: 15px;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.noEventClicked {
  padding: 30% 12%;
  text-align: center;
  font-size: 30px;
}

.clickedEvent {
  display: block;
  margin-left: 7%;
  margin-top: 8% !important;
  background-color: white;
  border-radius: 15px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.h2 {
  font: 400 30px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 3%;
  text-align: center;
  width: 100%;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

/* li:last-child {
  border: none;
} */

li a,
.input {
  text-decoration: none;
  color: #000;
  /* display: block; */

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.events a:hover {
  font-size: 25px;
  /* background: #f6f6f6; */
}

.centre {
  text-align: center;
}

.backBtn {
  color: #004e7c;
}
.backBtn:hover {
  font-size: 50px;
  transition: font-size 0.5s ease;
  cursor: pointer;
}

.hide {
  display: none;
}

.updatePosts {
  text-align: right;
}

.updatePost:hover {
  cursor: pointer;
}

.input {
  position: relative;
  float: left;
  width: 95%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.input:hover {
  cursor: pointer;
}

.updateValue {
  vertical-align: bottom;
  font-size: 10px;
  width: 5%;
}

.pendingOptions {
  margin-top: 20%;
}

.optBtn {
  width: 29%;
  margin: 0px 2%;
}

.eventtitle {
  padding-left: 2%;
}

@media screen and (max-width: 768px) {
  .clickedEvent {
    margin: 2px;
    margin-top: 0px !important;
  }
}
